<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="com.pet.mapper.MemberMapper">
  
  
  
 <!--  멤버 목록  -->
  <select id="getList" resultType="com.pet.domain.MemberVO">
  <![CDATA[
  		select * from tbl_member where m_pk > 0
  ]]>
  </select>
  

  
<!-- 회원 가입 -->
  <insert id="insert"> 
  		<selectKey keyProperty="m_pk" order="BEFORE" resultType="long">
  				select seq_member.nextval from dual
  		</selectKey>
  		insert into tbl_member(m_pk,m_id, m_pwd, m_email) 
  		values (#{m_pk}, #{m_id}, #{m_pwd}, #{m_email})
  </insert>

<!-- 회원 조회 -->

  <select id="read" resultType="com.pet.domain.MemberVO">
  			select * from tbl_member where m_pk = #{m_pk}  
  </select>
  
  <!--  회원 수정 -->
  <update id="update">
  		update tbl_member
  		set m_pwd =#{m_pwd },m_email=#{m_email}, m_udate=sysdate
  		where m_pk = #{m_pk}
  </update>
  

 <!--  회원 삭제 -->
  <delete id="delete">
  		delete tbl_member where m_pk = #{m_pk}
  </delete>
  
   <!-- 회원가입 닉네임 중복체크 -->
	<select id="nickCheck" resultType="int">
		select count(*) from tbl_member where m_id = #{m_id}
	</select>
  
  	<!-- 로그인 -->
	<select id="Login" resultType="com.pet.domain.MemberVO">
		select * from tbl_member where m_id = #{m_id} and m_pwd = #{m_pwd}
	</select>
  	
  	<select id="idCheck" resultType="com.pet.domain.MemberVO">
  		select * from tbl_member where m_id = #{m_id}
  	</select>
  
  
  
  </mapper>